<!DOCTYPE html>
<html>
<head>
  <link href="lib/roboto_fonts.css" rel="stylesheet">
  <link href="lib/material_icons.css" rel="stylesheet">
  <link href="lib/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <!-- <v-navigation-drawer app> -->
      <!-- </v-navigation-drawer> -->

      <v-app-bar app>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            v-model="query"
            append-icon="search"
            hide-details
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <v-text-field
            label="Tags"
            v-model="query_tags"
            append-icon="search"
            hide-details
          ></v-text-field>
        </v-col>
      </v-app-bar>

      <v-content>
        <v-container fluid>
          <v-card
            class="mx-auto"
            v-for="pd of filtered_paper_data"
            :key="pd.time"
          >
            <v-card-title>{{pd.title}}</v-card-title>
            <v-card-text>
              {{pd.tags}} {{pd.priority}} {{pd.time}}
            </v-card-text>
            <v-card-actions>
              <v-btn text><v-icon>swap_vert</v-icon></v-btn>
              <v-tooltip right>
                <template v-slot:activator="{on}">
                  <v-btn
                    text
                    @click="open_link(pd.url)"
                    v-on="on"
                  >
                    Open
                  </v-btn>
                </template>
                <span>{{pd.url}}</span>
              </v-tooltip>
            </v-card-actions>
          </v-card>
        </v-container>
      </v-content>

      <v-footer app>
      </v-footer>
    </v-app>
  </div>

  <script src="lib/vue.js"></script>
  <script src="lib/vuetify.js"></script>
  <script src="main.js"></script>
</body>
</html>
