<!DOCTYPE html>
<html>
<head>
  <link href="lib/roboto_fonts.css" rel="stylesheet">
  <link href="lib/material_icons.css" rel="stylesheet">
  <link href="lib/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
    .abstract {
      font-size: medium;
    }
    .v-expansion-panel-header {
      padding: 10px 16px;
    }
    .v-card__title {
      padding: 0px;
    }
    .v-card__actions {
      padding: 0px;
    }
    .v-chip {
      margin-right: 4px;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <!-- <v-navigation-drawer app> -->
      <!-- </v-navigation-drawer> -->

      <v-app-bar app>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            v-model="query"
            append-icon="search"
            hide-details
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="6" md="3">
          <v-text-field
            label="Tags"
            v-model="query_tags"
            append-icon="search"
            hide-details
          ></v-text-field>
        </v-col>

        <v-spacer></v-spacer>
        <v-btn icon @click="download_data">
          <v-icon :color="download_red">save_alt</v-icon>
        </v-btn>
      </v-app-bar>

      <v-content>
        <v-container fluid>
          <v-expansion-panels accordion>
            <v-expansion-panel
              v-for="(pd, idx) of filtered_paper_data"
              :key="pd.time"
            >
              <v-expansion-panel-header hide-actions>
                <v-card
                  class="mx-auto"
                  flat
                >
                  <v-card-title>{{pd.title}}</v-card-title>
                  <v-card-actions>
                    <v-tooltip right>
                      <template v-slot:activator="{on}">
                        <v-btn
                          text
                          v-on="on"
                          @click.native.stop="open_link(pd.url)"
                        >
                          Open
                        </v-btn>
                      </template>
                      <span>{{pd.url}}</span>
                    </v-tooltip>

                    <v-tooltip top v-if="!pd.show_slider">
                      <template v-slot:activator="{on}">
                        <v-btn icon v-on="on" @mousedown.native.stop="activate_slider(pd, idx)">
                          <v-icon>swap_vert</v-icon>
                        </v-btn>
                      </template>
                      <span>{{pd.priority}}</span>
                    </v-tooltip>
                    <v-col v-else cols="8" sm="4" md="2">
                      <v-slider
                        v-model="pd.priority"
                        :min="min_priority"
                        :max="max_priority"
                        thumb-label="always"
                        thumb-size="24"
                        hide-details
                        height="5"
                        :ref="'slider' + pd.time"
                      ></v-slider>
                    </v-col>

                    <v-btn icon @click.native.stop="delete_pd(idx)">
                      <v-icon>delete</v-icon>
                    </v-btn>

                    <v-chip
                      v-for="tag of pd.tags"
                      :key="pd.time + tag"
                      label
                      outlined
                    >{{tag}}</v-chip>

                    <v-spacer></v-spacer>
                    {{pd.date_string}}
                  </v-card-actions>
                </v-card>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <span class="abstract">
                  {{pd.abstract}}
                </span>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <v-snackbar v-model="show_undelete_snackbar">
            Data deleted.
            <v-btn text color="red" @click="undelete_pd">Undo</v-btn>
          </v-snackbar>
        </v-container>
      </v-content>

      <v-footer app>
      </v-footer>
    </v-app>
  </div>

  <script src="lib/vue.js"></script>
  <script src="lib/vuetify.js"></script>
  <script src="main.js"></script>
</body>
</html>
