<!-- template taken from https://vuetifyjs.com/en/getting-started/quick-start -->
<!DOCTYPE html>
<html>
<head>
  <link href="lib/roboto_fonts.css" rel="stylesheet">
  <link href="lib/material_icons.css" rel="stylesheet">
  <link href="lib/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inspire">
      <!-- max size for a popup, apparently -->
      <v-card min-width="800" min-height="600">
        <v-card-text>
          <v-text-field
            label="Title"
            v-model="title"
            dense
            autofocus
          ></v-text-field>
          <v-combobox
            label="Tags"
            v-model="tags"
            :items="all_tags"
            multiple
            :delimiters="[', ']"
            dense
          ></v-combobox>
          <v-text-field
            label="Priority"
            v-model="priority"
            dense
          ></v-text-field>
          <v-textarea
            label="Abstract"
            v-model="abstract"
            rows=11
            no-resize
            dense
          ></v-textarea>
          <v-text-field
            label="Authors"
            v-model="authors"
            dense
          ></v-text-field>
          <v-text-field
            label="URL"
            v-model="url"
            dense
          ></v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            color="primary"
            text
            :disabled="!(paper_data_loaded && tags_loaded && metadata_loaded)"
            @click="add_paper(true)"
          >
            Save
          </v-btn>
          <v-btn
            color="error"
            text
            @click="add_paper(false)"
          >
            Cancel
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn text @click="open_main_page()"><v-icon>open_in_new</v-icon></v-btn>
        </v-card-actions>
      </v-card>
    </v-app>
  </div>

  <script src="lib/vue.js"></script>
  <script src="lib/vuetify.js"></script>
  <script src="popup.js"></script>
</body>
</html>
